/*Contact Us*/

.contact-container{
    min-height: 100vh;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url('');
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 0;

}

.contact-title{
    max-width: 800px;
    text-align: center;
}

.contact-title b{
    font-size: 38px;
    font-weight: 500;
    color: black;
}

.contact-msgbox-info{
    border: none;
    display: flex;
    justify-content: space-around;
    width: 90%;
    height: 400px;
    margin: 20px;
    padding: 10px;
    
}

.contact-msgbox{
    width: 60%;
    padding: 20px;
}

.contact-msgbox-form b{
    font-size: 30px;
    color: black;
    font-weight: 500;
}

.contact-msgbox-input-box{
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contact-msgbox-input-box input{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    background: transparent;
}

.contact-msgbox-input-box input::placeholder{
    color: black;
}

.contact-msgbox-input-box textarea{
    width: 100%;
    height: 50px;
    padding: 5px 0;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
    background: transparent;
}

.contact-msgbox-input-box textarea::placeholder{
    color: #000;
}

.contact-info-container{
    border-left: 2px black solid;
    margin-top: 25px;
    width: 30%;
    padding: 20px;
}

.contact-info{
    position: relative;
    padding: 20px 0;
    display: flex;
}

.contact-info-icon{
    min-width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    font-size: 22px;
    cursor: pointer;
    border: 2px black solid;

}

.contact-info-details{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: black;
    flex-direction: column;
    font-weight: 300;
    padding-top: 8px;

}

/*Footer*/
.footer {
    margin: 10px;
    height: 300px;
    padding: 40px;
    padding-bottom: 5px;
    margin-bottom: 2px;
    display: flex;
    color: white;
}

.links {
    margin: 10px;
    width: 300px;
    height: 245px;
}

.links h2{
    font-size: 20px;
}

.sub-links{
    width: 200px;
    height: 200px;
}

.sub-links a{
    font-size: 15px;
    font-weight: 700;
    color: rgba(110, 109, 109, 0.979);
    text-decoration: none;
}

/*Socials*/

.social-menu{
    width: 440px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    padding: 11px;
}

.social-menu ul {
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    display: flex;

}

.social-menu ul li{
    list-style: none;
    margin: 0 auto;
}

.social-menu ul li .fab{
    font-size: 30px;
    line-height: 50px;
    transition: .3px;
    color: #000;
}

.social-menu ul li .fab:hover{
    color: #fff;
}

.social-menu ul li a{
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    transition: .6s;
    box-shadow: 0 0 5px 4px rgba(95, 94, 94, 0.767);
}

.social-menu ul li a:hover{
    transform: translate(0, -10%);
}

.social-menu ul li:nth-child(1) a:hover{
    background-color: rgba(0,0,0,0.829);
}

.social-menu ul li:nth-child(2) a:hover{
    background-color: #0077b5;
}

.social-menu ul li:nth-child(3) a:hover{
    background-color: #e4405f;
}

.social-menu ul li:nth-child(4) a:hover{
    background-color: #002E6E;
}

/*About Us*/

#heading {
    text-align: center;
}

.about-card {
    background-color: rgb(231, 231, 219);
    background: transparent;
    border-radius: 10px;
    border: 1px solid rgb(0, 0, 0);
    width: 350px;
    height: 380px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 10px;
    display: inline-block;
    background:rgba(255, 255, 255, 0.25);
    box-shadow:0 1px 2px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter:blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 5px;
    border: 1px solid rgb(187, 187, 187);
}

.about-card:hover {
    box-shadow: 0px 0px 3px 2px rgb(179, 171, 171);
}

.profile-img {
    margin-top: 7px;
    width: 130px;
    border-radius: 50%;
    box-shadow: 0 0 4px 3px rgba(95, 94, 94, 0.767);
    padding: 10px;
}

.name {
    font-size: 25px;

}

.about-social-menu{
    width: 320px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    padding: 11px;
}

.about-social-menu ul {
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    display: flex;

}

.about-social-menu ul li{
    list-style: none;
    margin: 0 auto;
}

.about-social-menu ul li .fab{
    font-size: 30px;
    line-height: 50px;
    transition: .3px;
    color: #000;
}

.about-social-menu ul li .fab:hover{
    color: #fff;
}

.about-social-menu ul li a{
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    transition: .6s;
    box-shadow: 0 0 5px 4px rgba(95, 94, 94, 0.767);
}

.about-social-menu ul li a:hover{
    transform: translate(0, -10%);
}

.about-social-menu ul li:nth-child(1) a:hover{
    background-color: rgba(0,0,0,0.829);
}

.about-social-menu ul li:nth-child(2) a:hover{
    background-color: #0077b5;
}

.about-social-menu ul li:nth-child(3) a:hover{
    background-color: #e4405f;
}

.about-social-menu ul li:nth-child(4) a:hover{
    background-color: #002E6E;
}
