.container {
    height: 100vh;
    display: grid;
    place-items: center;
  }
  
  .box {
    height: 370px;
    width: 400px;
    border: 0.5px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  }
  
  #password {
    width: 100%;
    height: 40px;
    background-color: aquamarine;
    margin-bottom: 20px;
    color: red;
    font-weight: 800;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    letter-spacing: 3px;
  }
  
  .range_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  
  .checkboxes {
    font-weight: bold;
    display: flex;
    flex-direction: column;
  }

  .form_control {
    display: flex;
    justify-content: space-between;
  }

  .form_control label {
    font-size: 14px;
    letter-spacing: 0.3px;
  }
  
  input[type="checkbox"] {
    accent-color: red;
  }
  
  #genBtn{
    border: none;
    width: 100%;
    height: 45px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 9px;
  }

  #genBtn:hover{
    cursor: pointer;
    box-shadow: 0px 0px 3px 2px #808080;
    transition: 0.5s;
  }
  

  section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: #161623;
    min-height: 100vh;
    position: relative;
}

section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#f00, #f0f);
    clip-path: circle(30% at right 70%);
}

section::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#2196f3, #e91e63);
    clip-path: circle(20% at 10% 10%);
}
