{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding:40px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: rgb(182, 158, 158);
    }
.clock{
    width: 360px;
    height:400px;
    background-image: url('/download-removebg-preview.png');
    background-repeat: no-repeat;
}
    
.main-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.h1{
    padding:20px;
    color:black;
    background-color:antiquewhite;
    box-shadow: 3px 3px 1px 1px gray;
    border-radius:40px;
    
}

.container {
    height: 400px;
    padding: 10px;
    color: #1d2223;
    display: inline-block;

}

#clock {
    font-size: 30px;
    font-family: 'digital-clock-font';
    letter-spacing: 5px;
    height:40px;
    box-shadow: 2px 2px  1px 1px gray;
    background-color: aqua;
    width:260px;
    color:rgb(228, 216, 216);
    width:250px;
    padding:4px;
    margin-left:40px;
    text-align: center;
    border-radius: 20px;
}
#clock:hover{
    font-size:35px;
    height:60px;
    width:300px;
    font-family: cursive;
    cursor: pointer;
    background-color:rgb(20, 17, 20);
    color:azure;
    border:2px double white;
}

@font-face {
    font-family: 'digital-clock-font';
    src: url('./Technology-Bold.ttf');
}
h1 {
    height: 100px;
}

h1 span {
    position: relative;
    top: 20px;
    display: inline-block;
    animation: bounce .6s ease infinite alternate;
    font-family: 'Titan One' cursive;
    font-size: 40px;
    color: gold;
    text-shadow: 0 1px 0 green,
        0 2px 0 green,
        0 3px 0 green,
        0 4px 0 green,
        0 5px 0 green,
        0 6px 0 transparent,
        0 7px 0 transparent,
        0 8px 0 transparent,
        0 9px 0 transparent,
        0 10px 10px rgba(0, 0, 0, 0.4);
}

h1 span:nth-child(2) {
    animation-delay: .0.5s;
}

h1 span:nth-child(3) {
    animation-delay: .2s;
}

h1 span:nth-child(4) {
    animation-delay: .3s;
}

h1 span:nth-child(5) {
    animation-delay: .4s;
}

h1 span:nth-child(6) {
    animation-delay: .5s;
}

h1 span:nth-child(7) {
    animation-delay: .6s;
}

h1 span:nth-child(8) {
    animation-delay: .7s;
}

@keyframes bounce {
    100% {
        top: -20px;
        text-shadow: 0 1px 0 #CCC,
            0 2px 0 #CCC,
            0 3px 0 #CCC,
            0 4px 0 #CCC,
            0 5px 0 #CCC,
            0 6px 0 #CCC,
            0 7px 0 #CCC,
            0 8px 0 #CCC,
            0 9px 0 #CCC,
            0 50px 25px rgba(0, 0, 0, 0.2);
    }
}



.line-1 {
    position: absolute;
    top: 95%;
    left: 85%;
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255, 255, 255, .75);
    font-size: 16px;
    font-family: monospace;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
}

p {
    color: azure;
}


.anim-typewriter {
    animation: typewriter 4s steps(44) 1s 1 normal both,
        blinkTextCursor 500ms steps(44) infinite normal;
}

@keyframes typewriter {
    from {
        width: 0;
    }

    to {
        width: 11em;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: rgba(255, 255, 255, .75);
    }

    to {
        border-right-color: transparent;
    }
}

.credit {
    opacity: 20%;
}

@media screen and(min-width:600px) {
    .line-1 {
   
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255, 255, 255, .75);
    font-size: 16px;
    font-family: monospace;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
}

p {
    color: azure;
}


.anim-typewriter {
    animation: typewriter 4s steps(44) 1s 1 normal both,
        blinkTextCursor 500ms steps(44) infinite normal;
}

@keyframes typewriter {
    from {
        width: 0;
    }

    to {
        width: 11em;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: rgba(255, 255, 255, .75);
    }

    to {
        border-right-color: transparent;
    }
}

.credit {
    opacity: 30%;
}
}


